---
title: 'Jayphen — design for humans'
---
header
  .my-work
    a href="mailto:hello@jayphen.com" Contact me
  .logoish Design by Jayphen

.wrap-copy
  section.leader
    .a-story
      h1 Hello.
      p
        em The sound of ice cubes clinking against eachother in a glass of whisky
      p Let me tell you a story.

      p
        | The story begins about
        span.js-counter  0
        |  seconds ago.
        | You pressed some squares on a rectangle, you clicked a mechanical button, or you tapped on a slab of glass, and you wound up here.
      p I have about 25% of your attention. You're thinking about checking Facebook again, what's new on Twitter, who is having fish curry for lunch again or maybe the growing pile of work on your desk.
      p
        a href="http://blog.kissmetrics.com/wp-content/uploads/2010/11/bounce-rate-lrg.png" According to KissMetrics,
        | The <em>average time on site</em> for an <em>average website</em> is 190.4 seconds.
        | We <a href="http://blogs.hbr.org/2010/05/how-and-why-to-stop-multitaski/">suck at multi-tasking</a>. Cognitive overload is <a href="http://seattletimes.com/pacificnw/2004/1128/cover.html">stressing us out</a> and making us dumber. We're better off <a href="http://news.bbc.co.uk/2/hi/uk_news/4471607.stm">smoking some weed</a> or staying up all night than having Tweetdeck open on a second monitor.
      p You want to get in, do the job and get out as quickly as possible.


    .some-images
      .octopus
        = image_tag 'octopus.png'
      blockquote Every human visiting your website is blazed, busy, and brainless.

  section.what-design-is
    hr.paragraph-separator
    p Design is about <em>solving problems</em>. Our friend Jason Fried once said, <em>"the design is done when the problem goes away."</em> Good design starts not in Photoshop, not on paper, and not even in the eye of the designer. Good design starts in a maze in the mind of the user. It is a designer's job to step in to that maze and to find a way out.
    hr.paragraph-separator

  section.what-i-do
    h3 The secret world of Alex Mack

    /p A dialog pops up asking her what she's had for breakfast today and she misses the close button, accidentally clicking a carefully placed ad for peanut butter flavoured ear plugs. She throws her computer out of her 7th-storey window and it explodes on impact with the ground, showering passer-bys with MS Office ribbons and silicone.
    p The human squints at the glowing rectangle before her.
    p A gaggle of designers creeps up behind her chair, careful not to disturb her. They watch her brow furrow as she considers the sign-up form. Her cursor hovers over the word ‘free’, and then darts to a small iconographic representation of the Australian flag. The gaggle inhales. Clicking it, she is teleported to a page that appears to consist <a href="https://www.paypal.com/au/webapps/mpp/country-worldwide">solely of country names and flags.</a>
    img.paypal src="https://api.monosnap.com/image/download?id=AfBajIC8UxFuYM9xKJWy5acuHtKruC" alt="Paypal's languages page"
    p As she clicks on Guadeloupe, each member of the gaggle slowly falls to their knees before <em>melting in to a pool of shimmering silver liquid.</em>
    p This isn't the end of the story, of course. The designers resolidify in an adjacent room and record their observations from the session. Product design is a constant learning experience and a continual improvement loop.

  .some-images
    = image_tag 'hatter.png'

section.what-ive-done
  .copy
    h1 I design
    p In the past 9 years, I've worked for a few businesses and I've <a href="http://wearebrandnew.com">started my own</a>. I've <a href="http://betterbills.com.au">helped</a> a <a href="http://oneshift.com.au">few</a> startups <a href="http://thebestday.com">realise</a> their <a href="http://peerbrief.com">ideas</a> for <a href="http://jobvibe.me">products</a> that would not have existed were it not for their vision and perseverance.
    p Over those years I've worked hard to improve my own skills in research, interface design, development, communication and <em>human comprehension</em>. A large part of product design is understanding the user's desires, needs, expectations and distractions.
    p Working with startups involves significant cross-skilling due to the smaller teams. My skills range from UX design and research to visual and interaction design; front-end development (with vim!) to deployment & Linux server administration.
    p: a.cta href="mailto:hello@jayphen.com" Contact me
    p or check out my latest work <a href="https://dribbble.com/Jayphen">on Dribbble</a>
